html {
  height: 100%;
}
body {
  min-height: 100%;
  padding-bottom: 4rem;
  position: relative;
  background-color: #f2f2f2;
}

header {
   display: flex;
   background-color: #294D24;
   color: white;
   padding: 0;
   top: 0;
   height: 50px;
   margin-top: 0;
   margin-bottom: 5px;
   align-items: center;
   justify-content: center;
   width: 100%;
   font-family: sans-serif;
   border-radius: 10px;
 }

 #content-heading {
   font-size: 1.2em;
 }

 #table-wrapper {
   margin: 0px 20px;
   align-items: center;
   justify-content: center;
 }

 #sortByPrice:hover, #sortByType:hover, #reset:hover {
   box-shadow: 0 12px 16px 0 rgba(0,0,0,0.2);
 }

 #sortByPrice, #sortByType, #reset {
   width: 100px;
   font-size: 1.2em;
   border-radius: 10px;
   border: 2px solid #294D24;
   background-color: white;
   color: #294D24;
 }

 #sortByType:disabled, #sortByPrice:disabled {
     opacity: 0.2;
     cursor: not-allowed;
     box-shadow: none;
 }

 #roomDetails:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.2);
 }

 .roomDetails {
   display: flex;
   padding: 5px 20px;
   border-radius: 5px;
   border: 1px solid #000;
   margin: 10px;
 }

 #roomGroup {
   padding: 20px;
 }

 #roomTitle {
   padding: 0px 20px;
   font-size: 24px;
   font-family: 'Montserrat',sans-serif;
   margin-bottom: 20px;
 }

 #roomDescription, #roomPrice {
   padding: 0px 20px;
   font-size: 16px;
   font-family: 'Roboto',sans-serif;
   margin-bottom: 10px;
 }

  #roomCountWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex-grow: 1;
  }

  input {
    font-size: 16px;
    font-family: 'Montserrat',sans-serif;
    text-align: center;
    border: 1px solid #000;
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }

.hotel-header {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 20px;
}

.hotel-name {
  font-size: 32px;
  padding-left: 20px;
  font-family: 'Roboto',sans-serif;
}

h4 {
  font-size: 16px;
  font-family: 'Roboto',sans-serif;
}

img {
  width: 150px;
  height: 150px;
}


.button-group {
  text-align: right;
  margin-right: 10px;
  flex-grow: 1;
}

 button {
   margin: 5px;
 }

footer, footer a {
  display: flex;
  position: relative;
  background-color: #294D24;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 30px;
  padding: 10px;
  border-radius:10px;
  color: #fff;
  font-family: sans-serif;
  font-size: 16px;
}

.calculation h4 {
  padding-left: 10px;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  text-align: left;
}

footer-wrapper {
  position: relative;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}
