
header {
   display: flex;
   background-color: #3B3738;
   color: white;
   padding: 0;
   top: 0;
   height: 50px;
   margin-top: 0;
   margin-bottom: 5px;
   align-items: center;
   justify-content: center;
   width: 100%;
   font-family: sans-serif;
   border-radius: 10px;
 }

 #content-heading {
   font-size: 1.2em;
 }

 #table-heading, #tr-head {
   font-size: 1.2em;
   padding: 5px;
 }

 #table-wrapper {
   display: flex;
   align-items: center;
   justify-content: center;
 }

 table, td {
    border: 1px solid black;
}
table {
  border: 2px solid #000;
  text-align: center;
  margin-top: 20px;
  border-collapse: collapse;
}

td {
  padding: 5px;
}


#total, #percentage, #reset {
  width: 150px;
  font-size: 1.2em;
  border: 1px solid #000;
  border-radius: 10px;
}

.button-group {
    text-align: center;
}

button {
  margin: 5px;
}
